---
import type { Repo, Badge } from "../content/config";
import { getBadgeInfo } from "../lib/badge";

type Props = {
  repo: Repo;
  badge: Badge;
};

const { repo, badge } = Astro.props;

const [badgeSrc, href] = getBadgeInfo(repo, badge);
---

<div class="project-badge">
  <a href={href} target="_blank">
    <img src={badgeSrc} />
  </a>
</div>

<style>
  .project-badge {
    display: inline-flex;
  }

  .project-badge a {
    display: inline-flex;
  }

  .project-badge img {
    display: block;
  }
</style>
