name: Security and License Scans

on:
  workflow_call:

jobs:
  fossa-scan:
    name: FOSSA Scanning Kickoff
    runs-on: ubuntu-latest
    outputs:
      fossaScanResults: ${{ steps.fossa_test.outputs.results }}

    if: ${{ github.event_name != 'pull_request_target' || github.event.pull_request.head.repo.full_name == github.repository }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.head_ref }}

      - name: Run FOSSA Scan
        uses: fossas/fossa-action@3ebcea1862c6ffbd5cf1b4d0bd6b3fe7bd6f2cac # v1.7.0
        with:
          api-key: ${{ secrets.FOSSA_API_KEY }}

      - name: Run FOSSA Test
        id: fossa_test
        env:
          FOSSA_API_KEY: ${{ secrets.FOSSA_API_KEY }}
        run: |
          set -x
          DIFF_OPTION=""
          MAIN_BRANCH="main"
          MAIN_BRANCH_REF="refs/heads/$MAIN_BRANCH"

          CURRENT_BRANCH_REF="${{ github.head_ref || github.ref }}"
          echo "Current Branch: $CURRENT_BRANCH_REF"

          if [ "$CURRENT_BRANCH_REF" != "$MAIN_BRANCH_REF" ]; then
            git fetch origin $MAIN_BRANCH
            MAIN_SHA=$(git rev-parse origin/$MAIN_BRANCH)
            DIFF_OPTION="--diff $MAIN_SHA"
          fi

          fossa test --format json $DIFF_OPTION | tee fossa-test.json

          FOSSA_RESULTS=$(cat fossa-test.json)
          if [ -z "$FOSSA_RESULTS" ]; then
            echo "Failed to generate FOSSA Scanning Results"
            exit 1
          fi

          echo "results=$FOSSA_RESULTS" >> $GITHUB_OUTPUT

  fossa-security-check:
    name: FOSSA Security Check
    needs: fossa-scan
    runs-on: ubuntu-latest

    if: ${{ github.event_name != 'pull_request_target' || github.event.pull_request.head.repo.full_name == github.repository }}

    steps:
      - name: Check Security Issues
        run: |
          ISSUES=$(echo '${{ needs.fossa-scan.outputs.fossaScanResults }}' | jq '.issues | map(select(.type | IN("unlicensed_dependency", "policy_conflict", "policy_flag") | not))')
          ISSUES_LEN=$(echo $ISSUES | jq length)
          if [ $ISSUES_LEN -gt 0 ]; then
            echo "FOSSA Security Check failed"
            echo "Issues found:\n$ISSUES"
            echo '${{ needs.fossa-scan.outputs.fossaScanResults }}'
            exit 1
          fi

  fossa-license-check:
    name: FOSSA Licenses Check
    needs: fossa-scan
    runs-on: ubuntu-latest

    if: ${{ github.event_name != 'pull_request_target' || github.event.pull_request.head.repo.full_name == github.repository }}

    steps:
      - name: Check License Issues
        run: |
          ISSUES=$(echo '${{ needs.fossa-scan.outputs.fossaScanResults }}' | jq '.issues | map(select(.type | IN("unlicensed_dependency", "policy_conflict", "policy_flag")))')
          ISSUES_LEN=$(echo $ISSUES | jq length)
          if [ $ISSUES_LEN -gt 0 ]; then
            echo "FOSSA License Check failed"
            echo "Issues found: $ISSUES"
            echo '${{ needs.fossa-scan.outputs.fossaScanResults }}'
            exit 1
          fi
